<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.hugopassos.double_back_to_close_app_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
